:root {
  --primary: #000000e8;
  --primary-text: #ffffff;
  --secondary: #ad73442c;
  --secondary-text: #000000;
  --accent: #12b7e000;
  --accent-text: #fffefe;
  --accent-text2: #2b79ee;
} 
