:root {
  --primary: #000000e8;
  --primary-text: #ffffff;
  --secondary: #f0f0f0;
  --secondary-text: #e76a04;
  --accent: #12b7e000;
  --accent-text: #fffefe;
  --accent-text2: #2b79ee;
} 
